.main-container
    margin-top: 2em

.card-col
    margin-bottom: 1em

.card-col .card
    height: 100%

.card-col .card .card-text
    text-align: left

body
    font-family: 'Lato', sans-serif

.header-icon
    margin-bottom: 1em

.inline-heading
    margin-bottom: 1em

@media (min-width: 768px)
    .inline-heading
        display: inline-block
        height: 150px

    .header-icon
        float: right